@use "about";
@use "vars";
@use "animations";
@use "products";
@use "table";
@use "filters";
@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Fascinate&family=Nabla:EHLT@16&family=Sixtyfour+Convergence:SCAN,XELA@-23,-4&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: vars.$green;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#00000055, #44f77a);
}

a {
  text-decoration: none;
  color: inherit;
}

.body-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.average-sans-regular {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fascinate-bold {
  font-family: "Fascinate", system-ui;
  font-weight: bold;
  font-style: normal;
  color: vars.$red;
}
.nabla-t {
  font-family: "Nabla", system-ui;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  filter: invert(10%) sepia(88%) saturate(5458%) hue-rotate(-780deg)
    brightness(86%) contrast(115%);
}

.nabla-t2 {
  margin-top: 0;
  font-family: "Nabla", system-ui;
  font-size: 2.5rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  filter: invert(10%) sepia(88%) saturate(5458%) hue-rotate(-780deg)
    brightness(86%) contrast(115%);

  text-shadow: -4px 13px 9px rgba(0, 0, 0, 1);
}

main {
  min-height: 85vh;
}

.nav {
  height: auto;
  background-color: vars.$green;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;

  &__logo {
    width: 100px;
  }
  &__title {
    font-size: 3rem;
    text-align: center;
  }
  &__li {
    width: 100%;
    color: vars.$red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        margin: 0 15px;
        padding: 0;
      }
    }
  }
}

.margin-center {
  margin: 0 auto;
}

.splash {
  transform: skewX(10deg);
  margin: 2rem auto;
  width: 90%;
  position: relative;
  width: 90%;
  height: 25vh;
  background-color: vars.$yellow;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  color: vars.$purple;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__text {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: vars.$purple;

    display: inline-block;

    outline: 4px solid rgba(255, 255, 255, 0.6);
    outline-offset: 0.2em;
    border-radius: 0.2em;
    display: inline;
    padding: 0.2em 0.4em;
  }
}

.products {
  text-align: center;
  padding: 20px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__product {
    background: vars.$purple-bg;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      margin: 10px 0;
      font-size: 1.2em;
      color: vars.$green;
    }

    p {
      font-size: 0.9em;
      color: vars.$beige;
      margin-bottom: 10px;
    }

    button {
      background: vars.$beige;
      color: vars.$red;
      font-weight: bold;
      border: none;
      padding: 8px 15px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1em;
      align-self: center;

      &:hover {
        background: vars.$orange;
      }
    }
  }
}

.categories {
  text-align: center;
  padding: 40px 10%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .category {
    position: relative;
  }

  .category__container {
    position: relative;
    overflow: hidden;
  }

  img {
    width: 200px;
    height: 150px;
    border: 20px solid #640d60d8;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .category__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: vars.$purple;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;

    text-align: center;
  }
}

.footer {
margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: black;
  color: white;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin: 0 15px;

    &.active .menu__link {
      color: vars.$red;
      font-weight: bolder;
      border-bottom: 3px solid vars.$red;
      padding-bottom: 3px;
    }
  }

  &__link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bolder;
    padding: 10px 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;

    &:hover {
      color: vars.$red;
    }
  }
}
